.container {
    width: 100%;
    background-color: rgba(143, 143, 143, 0.514);
    border-radius: 10px;
}
  
.list--header {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.bar-graph {
    margin-top: 20px;
}
/* Consumption Hour */
.list--header > :nth-child(1) {
    font-style: italic;
}
.list--header > :nth-child(2) {
    font-size: medium;
    padding-top: 30px;
}
