.content{
    width: 100%;
    display: flex;
    gap: 2rem;
    
}
/* .card--container{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.card{
    height: 100px;
    border-radius: 20px;
    width: 300px;
    background-color: rgba(143, 143, 143, 0.514);
} */
.list--header{
    display: inline-block;
    justify-content: space-between;
}
.side-right{
    
    padding-left: 20px;
    width: 100%;
    background-color: rgba(252, 253, 253, 0.548);
}
.side-left {
    
    width: 30%;
    border-radius: 20px;
    background-color: rgb(175, 174, 174);
}
.upper-1{
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
    
}
.upper-2{
    display: flex;
    gap: 20px;
    border-radius: 20px;
    background-color: rgb(175, 174, 174);
}
