.content{
    width: 75%;

}

.content--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--title {
    color: #526d82;
}
.header--activity{
    display: flex;
    align-items: center;
    gap: 20px;
}


/* Card Container */
.card--container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
}
.card{
    flex: 1;
    background: #dde6ed;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s ease-in-out;

}
.card--cover{
    font-size: 1.5rem;
    color: #014d27;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;

}
.card--title{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #526d82;
    border-radius: 10px;
}