.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
}

.side-left {
    flex: 1 1 20%;
    min-width: 200px;
}

.side-right {
    flex: 1 1 75%;
    padding-left: 20px;
    background-color: rgba(252, 253, 253, 0.548);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.list--header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.list--header > h2 {
    font-size: 2rem;
}

.list--header > :nth-child(2) {
    font-size: 2rem;
}

.list--header-2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.list--header-2 select {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 2px solid #dde6ed;
    background: transparent;
    color: #000b13;
}

.location--list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.teacher--detail {
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling if the table is wider than the container */
    margin-bottom: 20px; /* Adds some space below the table */
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    margin: 0;
}

.styled-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #009879;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table th {
    background-color: #ffffff;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.styled-table tbody tr {
    background-color: #f3f3f3;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table-status {
    font-weight: bold;
    color: #009879;
}

.table-icons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.buttons > button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: #009879;
    color: white;
}

.buttons > button:hover {
    background-color: #007d62;
}
