.side-right {
    
    width: 70%;
    padding-left: 20px;
    background-color: rgba(252, 253, 253, 0.548);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list--header{
    
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}
.list--header-2{
  
    border-radius: 10px;
    width: 50%;
    display: flex;
    padding-left: 50%;
    margin: 2rem 0;
    justify-content: space-between;
}
.list--header-2 select {
    font-size: 20px;
    border-radius: 20px;
    border:solid ;
    padding: 10px 18px;
    border: 2px solid #dde6ed;
    background: transparent;
    color: #000b13;
}

.location--list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list--container {
   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* .list--title{
    font-size: 40px;
} */
 .list--header > h2 {
    font-size: 50px;
 }
 .list--header > :nth-child(2){
    font-size: 60px;
 }


.teacher--detail {
    
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling if the table is wider than the container */
    margin-bottom: 20px; /* Optional: Adds some space below the table */
}

.styled-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are neatly collapsed */
    font-size: 16px; /* Adjusts font size if needed */
    margin: 0;
}

.styled-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #009879; /* Matches header background to table header color */
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table th {
    background-color: #ffffff;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.styled-table tbody tr {
    height: 100px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #dddddd;
}



.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table-status {
    font-weight: bold;
    color: #009879; /* Color of the status text */
}

.table-icons {
    display: flex;
    padding-top: 50px;
    gap: 50px; /* Adjusts spacing between icons */
}
.buttons{
    height: 50px;
    display: flex;
    padding-left: 80%;
    gap: 3rem;
    padding-right: 0px;
}
.buttons > :nth-child(1){
    width: 150px;
    border-radius: 20px;
}
.buttons > :nth-child(2){
    
    width: 100px;
    border-radius: 20px;
}