.main{
    width: 100%;
    display: flex;
    gap: 2rem;
   
}
.main-side-left{
   
    width: 20%;
    background-color: rgba(126, 125, 125, 0.548)
}
.main-right{
    width: 80%;
}
.upper-right-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.upper-right-side > i{
    font-size: 50px;
    padding-left: 50px;
}
.upper-right-side > h2{
    font-size: 40px;
}
.lower-side{
    display: flex;
    border-radius: 20px;
    background-color: rgba(126, 125, 125, 0.548);
    height: 100vh;
}
.lower-side-left{
    margin-left: 30px;
    margin-top: 20px;
    padding-right: 20px;
    padding-top: 40px;
    border-radius: 20px;
    height: 90vh;
    width: 60%;
    background-color: #fff;
   
}
.chat{
    padding-top: 70vh;
    
}
.lower-2{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}
.input-container{
   
    align-items: center;
    height: 80px;

}
.card{
    justify-content: center;
    padding-left: 50px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: rgba(126, 125, 125, 0.548)
}

.input-container > i{
    margin-bottom: 40px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 40px;
    height: 40px;
    width: 60px;
    background-color:  #014d27;;
}
.input-container > i:hover{
    background-color: rgb(252, 180, 255);
    color: #000;
}
.input-container > input {
    height: 50px;
    border-radius: 20px;
}
.content-info-right{
    display: block;
    justify-content: space-between;
    width: 50%;
    background-color: rgba(126, 125, 125, 0.548)
}
.info-date{
    display: flex;
    justify-content: space-between;
    
}
.info-date > span{
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 20px;
    text-decoration: underline;
    width: 60px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.info-date > p {
    font-size: 20px;
    text-decoration: underlinei;
}
.info-date > i{
    padding-right: 10px;
    font-size: 40px;
}
.content-info-right-bottom{
    align-items: center;
    height: 90px;
    padding-top: 50px;
}
.btn-new{
    margin-top: 80vh;
    margin-left: 20px;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    text-decoration: underline;
    background-color: #014d27;
} 
