.menu{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 100vh;
    
}
.logo{
    text-align: center;
    padding: 20px;
    color: #014d27;
    align-items: center;
    display: flex;
    gap: 20px;
}
.logo > h2{
    font-size: 90px;
}
.logo-icon{
    font-size: 3rem;
}
.menu--list{
    display: flex;
    flex-direction: column;
    gap: 70px;
    
}
.menu--list .item{
    display: flex;
    gap: 40px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #014d27;

}
.menu--list .item:hover{
    background:white ;
    
}